In [1]:
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
import explore

In [ ]:
df.head(2)

,ID,DateOfData,Variable01,Variable02,Variable03,Variable04,Variable05,Variable06,Variable07,Variable08,Variable09,Variable10,Variable11,Result01,Result02,Result03
0,256936,6/1/2018 0:10,2,NaN,23,3,606.0,NM,72.0,0.0,-0.0087,-3.53,21547.00,1.0,0,0
1,256937,6/1/2018 0:13,2,NaN,23,3,660.0,AZ,64.0,NaN,NaN,NaN,18050.40,2.5,1,1
2,256938,6/1/2018 0:33,2,NaN,23,3,699.0,NJ,25.0,0.0,0.0241,276.68,NaN,2.5,0,0
3,256939,6/1/2018 0:45,2,NaN,23,3,653.0,FL,27.0,0.0,0.1204,268.81,NaN,1.0,0,0
4,256940,6/1/2018 0:49,2,NaN,23,3,566.0,MA,74.0,NaN,NaN,NaN,NaN,1.0,0,0
5,256941,6/1/2018 1:21,2,NaN,23,3,691.0,CA,40.0,0.0,0.0822,57.38,NaN,1.0,0,0
6,256942,6/1/2018 1:26,2,NaN,23,3,NaN,CA,NaN,NaN,NaN,NaN,NaN,1.0,0,0
7,256943,6/1/2018 1:26,2,NaN,23,3,600.0,IL,66.0,NaN,NaN,NaN,NaN,1.0,0,0
8,256944,6/1/2018 1:35,2,NaN,23,3,716.0,FL,NaN,480.0,NaN,NaN,NaN,1.0,0,0
9,256945,6/1/2018 1:44,2,NaN,23,3,647.0,AR,72.0,NaN,NaN,NaN,NaN,1.0,0,0
10,256946,6/1/2018 2:01,2,NaN,23,3,601.0,CA,16.0,0.0,0.1245,164.09,3811.00,1.0,0,0
11,256947,6/1/2018 2:01,1,3.0,23,3,567.0,FL,NaN,NaN,NaN,NaN,NaN,1.0,0,0
12,256948,6/1/2018 2:38,2,NaN,23,3,697.0,PA,53.0,670.0,-0.0082,134.69,NaN,2.5,0,0
13,256949,6/1/2018 2:41,2,NaN,23,3,721.0,WV,58.0,0.0,0.1210,113.21,14050.00,1.0,1,0
14,256950,6/1/2018 3:06,2,NaN,23,3,617.0,AZ,51.0,2900.0,-0.0081,163.28,18211.00,2.5,1,0
15,256951,6/1/2018 3:45,2,NaN,23,3,708.0,TX,NaN,0.0,NaN,NaN,957.00,1.0,0,0
16,256952,6/1/2018 3:49,2,NaN,23,3,683.0,CA,62.0,NaN,NaN,NaN,NaN,1.0,0,0
17,256953,6/1/2018 4:17,2,NaN,23,3,698.0,PA,57.0,0.0,0.0439,179.59,NaN,1.0,0,0
18,256954,6/1/2018 4:23,2,NaN,23,3,643.0,WV,68.0,160.0,0.1863,167.20,18508.89,3.0,1,1
19,256955,6/1/2018 4:25,2,NaN,23,3,691.0,NY,49.0,0.0,-0.0219,58.17,NaN,1.0,0,0

In [9]:
df.drop(columns=['Variable02'], inplace=True)

ValueError: labels ['Variable02'] not contained in axis